* {
    padding: 0px;
    margin: 0px;
}

:root {
    --theme-color: darkcyan; 
}

@font-face {
    font-family: "Norse Bold";
    src: url(https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf) format("truetype");
}

html, body, form {
    height: 100%;
    justify-content: center;
    display: flex;
}

form {
    flex-direction: column;
}

form > div {
    padding: 4px;
}

button, input[type="submit"] {
    height: 46px;
    margin: 35px 5%;
    padding: 8px 32px;
    background-color: var(--theme-color);
    color: white;
    border: 3px solid var(--theme-color);
    border-radius: 8px;
}

input {
    border: 2px solid lightblue;
}

.validation:not(:focus):invalid {
    border: 2px solid red;
}

.validation:not(:focus):valid {
    border: 2px solid green;
}

.background, form {
    display: flex;
}

.background {
    position: relative;
}

.background > img {
    overflow: hidden;
}

.sidebar {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 30%;
    background-color: rgba(0, 0, 0, .5);
}

.logo {
    position: absolute;
    left: 45%;
    padding: 5px 0px;
}

.logo > img {
    width: 50px;
    height: 50px;
}

.sidebar-text {
    color: white;
    font-family: "Norse Bold", Verdana, Tahoma;
    font-size: 35px;
    position: absolute;
    left: 60px;
    top: 10px;
}

.credits {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
}

.source {
    color: white;
}

.background {
    height: 100%;
    flex: 1;
}

form {
    min-width: 70%;
    flex: 2;
}

.input {
    background-color: white;
    padding: 3% 5%;
    box-shadow: 5px 3px lightgray;
}

.data {
    margin-right: 32px;
    padding: 8px 0px;
}

input {
    height: 1.4rem;
    font-size: 1.2rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.right {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
}

.message {
    padding: 5%;
    font-size: 24px;
}

.title {
    padding: 4px 0 16px 0;
    font-size: 24px;
}

.message > p {
    padding: 0px 0px 16px 0px;
}

.italicized {
    font-style: italic;
}

.login-link {
    color: var(--theme-color);
    text-decoration: none;
}

.hasAccount {
    padding: 0 5%;
}